<div class="" style="left: 50%; top: 45%; transform: translate(-50%, -50%); position: absolute;">
  <div class="row justify-content-center align-items-center" style="margin-top: 25px !important;">
      <div style="width: 450px !important; border: 1px solid rgb(192, 183, 183); padding: 25px;">

        <div class="text-center">
          <!-- <img src="../../../assets/images/icons/logo.svg" alt=""> -->
        </div>

          <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
            <div class="text-center mb-4" style="margin-bottom: 60px !important;">
                <!-- a routerLink="/" ><img class="mb-4" src="assets/images/VVPUSA3x1.png" alt="" width="170" height="80"></a -->
                <div *ngIf="staticAlertClosed">
                    <h2 class="h3 mb-3 font-weight-normal" style="color:lightslategrey; margin-top: 20px;">Start session</h2>
                </div>
            </div>

            <div>
                <ngb-alert class="alert-login-user" *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true">
                    <strong>Error,</strong> user does not exists!
                </ngb-alert>

            </div>

            <mat-form-field class="">
                <input matInput
                    type="email"
                    name="username"
                    placeholder="Email address"
                    [errorStateMatcher]="matcher"
                    autofocus
                    formControlName="username"
                    >
                <mat-hint></mat-hint>

                <mat-error *ngIf="!signinForm.get('username').valid && signinForm.get('username').touched">
                    Please enter a valid email address
                </mat-error>

                <mat-error *ngIf="signinForm.get('username').touched">
                    Email is <strong>required</strong>
                </mat-error>
                <mat-icon matSuffix class="cls-icons-into-textbox">email</mat-icon>

            </mat-form-field>

            <br>

            <mat-form-field class="">
                <input matInput
                    type="password"
                    name="password"
                    placeholder="Password"
                    [errorStateMatcher]="matcher"
                    formControlName="password"
                    >
                <mat-hint></mat-hint>
                <mat-error *ngIf="signinForm.get('password').touched">
                    Password is <strong>required</strong>
                </mat-error>
                <mat-icon matSuffix class="cls-icons-into-textbox">vpn_key</mat-icon>
            </mat-form-field>

            <mat-checkbox color="primary"
                  [checked]="varKeepSession"
                  (change)="keepSession($event);" >
              Keep session
            </mat-checkbox>

            <button mat-button color="primary" type="submit" [disabled]="!signinForm.valid" style="width: 100%; font-size: 20px;">Sign In</button>
            <div class="cls-login-footer">
            <div class="row">
                <div class="col-lg-6">
                    <a routerLink="/reset-password" class=""> Forgot your password? </a>
                </div>
                <div class="col-lg-6">
                    <a routerLink="/signup" class=""> Sign up now </a>
                </div>
                </div>
            </div>
          </form>
      </div>
  </div>
</div>
