<!-- <mat-toolbar style="background-color: transparent; color: #919E9E;">

  <div class="container">
    <div class="row">

      <div class="col-2">
        <a routerLink="/dashboard" class="cls-logo">Private</a>
      </div>

      <div class="col-8"></div>

      <div class="col-2">
        <a mat-button href="/registration" style="text-decoration: none;">Registration</a>
      </div>

    </div>
  </div>

</mat-toolbar> -->



<div class="" style="left: 50%; top: 45%; transform: translate(-50%, -50%); position: absolute;">
  <div class="row justify-content-center align-items-center" style="margin-top: 25px !important;">
      <div style="width: 450px !important;  padding: 25px;">



        <div class="text-center mb-4" style="margin-top: 20px;">
            <p class="h5 mb-5 font-weight-normal" style="color:lightslategrey;">
                Welcome
            </p>
        </div>

        <div class="text-center">
          <img src="../../../assets/images/phone1.png" height="400" width="400" alt="">
        </div>


      </div>
  </div>
</div>

