<mat-toolbar style="background-color: transparent; color: #919E9E;">

  <div class="container">
    <div class="row">

      <div class="col-2">

        <!-- <img src="../../../assets/images/icons/logo.svg" alt=""> -->

      </div>

      <div class="col-8"></div>

      <div class="col-2">
        <a mat-button href="/signin" style="text-decoration: none;">Sign In</a>
        <a mat-button href="/signup" style="text-decoration: none;">Sign Up</a>
      </div>

    </div>
  </div>


</mat-toolbar>
