<div class="cls-remote-video-box">
  <video id="remoteVideo" autoplay loop playsinline class="cls-remote-video"></video>
</div>

<div class="cls-local-video-box">
  <video id="localVideo" autoplay loop playsinline muted class="cls-local-video"></video>
</div>




<router-outlet>
  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">

      <div class="row">


        <div class="cls-cmd-btns">
          <app-funct-buttons></app-funct-buttons>
        </div>



        <!-- <div class="col-4">

        </div>

        <div class="col-4">

          <button mat-fab color="basic" style="color: #D35400; margin-right: 20px;"
                    type="button"
                    (click)="setVideoNewMeeting('videoBtn');"
                    #tooltip="matTooltip"
                    [matTooltip]="videoMsg"
                    matTooltipPosition="below"
                    matTooltipHideDelay="100"
            >
            <mat-icon *ngIf="videoActive">videocam_off</mat-icon>
            <mat-icon *ngIf="!videoActive">videocam</mat-icon>
          </button>

          <button mat-fab color="basic" style="color: #69706B; margin-right: 20px;"
                  type="button"
                  (click)="setAudioNewMeeting('audioBtn');"
                  #tooltip="matTooltip"
                  [matTooltip]="audioMsg"
                  matTooltipPosition="below"
                  matTooltipHideDelay="100"
            >
            <mat-icon *ngIf="audioActive">mic_off</mat-icon>
            <mat-icon *ngIf="!audioActive">mic</mat-icon>
          </button>

          <button mat-fab style="color: rgb(250, 250, 250); background-color: rgb(246, 4, 53);" type="button" (click)="hangupCall()"
                    #tooltip="matTooltip"
                    matTooltip="Hangup"
                    matTooltipPosition="below"
                    matTooltipHideDelay="100"
            >
              <mat-icon>call_end</mat-icon>
            </button>
        </div> -->
      </div>
    </nav>
  </div>
</router-outlet>
