<mat-toolbar style="background-color: transparent; color: #919E9E;">

  <div class="container">
    <div class="row">

      <div class="col-2">
        <a routerLink="/dashboard" class="cls-logo">Private</a>
      </div>

      <div class="col-8"></div>

      <div class="col-2">
        <a mat-button href="/registration" *ngIf="location.path() === '/welcome'" style="text-decoration: none;">Register</a>
        <a mat-button (click)="unregister();" *ngIf="location.path() === '/dashboard'" style="text-decoration: none;">Unregister</a>
      </div>

    </div>
  </div>


</mat-toolbar>
<router-outlet></router-outlet>
