<div [hidden]="sipJs.videoActive()" style="left: 50%; top: 45%; transform: translate(-50%, -50%); position: absolute;">
  <div class="row justify-content-center align-items-center" style="margin-top: 25px !important;">
      <div style="width: 420px !important; border: 1px solid rgb(192, 183, 183); padding: 25px;">

        <div class="text-center" >
            <p class="h6 mb-3 font-weight-normal" style="color:lightslategrey;">
                User Extension: <strong>{{ uaInfo.ext }}</strong>
            </p>
        </div>

        <div class="alert" role="alert" *ngIf="globals.outgoingCall || globals.incomingCall" style="width: 100%;">

          <div class="h5 alert-heading">
            <span>{{ directionCall() + '  ' + fromTo() }}</span>
          </div>


          <p class="mb-0" *ngIf="globals.incomingCall">
            <button mat-raised-button (click)="answerCall();" color="basic" style="background-color: chartreuse;">Accept</button>
            <button mat-stroked-button (click)="rejectCall();" color="warn" class="ml-2">Decline</button>
          </p>

          <p *ngIf="globals.onCall">
            On a call with...
          </p>

        </div>


        <div class="alert alert-secondary" role="alert" *ngIf="globals.onCall" style="width: 100%;">

          <div class="h5 alert-heading">
            <span>On a call with...</span>
          </div>

          <p>
            <strong class="h4">{{ fromTo() }}</strong>
          </p>

        </div>



        <form [formGroup]="callerForm">
          <mat-form-field class="cls-phone-number" appearance="none" *ngIf="!globals.outgoingCall && !globals.incomingCall && !globals.onCall">
            <input matInput appearance="fill"
                  class="cls-phone-number"
                  name="phoneNumber"
                  minlength="4"
                  maxlength=11
                  (keypress)="keyPress($event)"
                  (change)="changeCallNumber($event)"
                  pattern="[0-9]*"
                  inputmode="numeric"
                  formControlName="phoneNumber"
                  [value]="globals.outgoingNumber"
            >

              <mat-icon matSuffix class="cls-btn-bck-space" (click)="backSpacePhoneNumber()" *ngIf="globals.outgoingNumber">backspace</mat-icon>

          </mat-form-field>
        </form>

        <app-dialpad></app-dialpad>

        <div class="cls-cmd-btns">
          <app-funct-buttons></app-funct-buttons>
        </div>


      </div>
  </div>
</div>



<div [hidden]="!sipJs.videoActive()" style="left: 50%; top: 45%; transform: translate(-50%, -50%); position: absolute;">
  <div class="row justify-content-center align-items-center" >
    <div style="width: 800px !important; height: 580px; border: 1px solid rgb(192, 183, 183); padding: 10px; background-color: black;">

      <div class="cls-remote-video-box">
        <video id="remoteVideo" autoplay loop playsinline class="cls-remote-video"></video>
      </div>

      <div class="cls-local-video-box">
        <video id="localVideo" autoplay loop playsinline muted class="cls-local-video"></video>
      </div>

    </div>

    <div class="cls-cmd-btns">
      <app-funct-buttons></app-funct-buttons>
    </div>

  </div>
</div>



